.bios {
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  display: flex;
}

.left-half {
  height: 100%;
  width: 20%;
  display: flexbox;
}

.right-half {
  
  position:relative;
  display: flexbox;
  flex-wrap:wrap;
  width: 78.4%
}

.img-container{
}

.bios-img{
  border-radius: 8px;
  width: 500px;
  height: 500px;
}

.bios-desc{
  white-space: normal;
}