.service {
  display: block;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 10%;
}

.bottom-half {
  display: inline;    
}

.top-half {
  display: inline-block;    
}

.img-container{
}

.services-img{
  border-radius: 8px;
  width: 50%;
  height: auto;
}

.services-desc{
  white-space: normal;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .services-img {
    width: 300px;
    height: 300px;
  }
}